<a href="https://colab.research.google.com/github/yiyukk/AI_for_retail/blob/main/Merging_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
import numpy as np
from datetime import datetime, timedelta
from google.colab import drive

## Merging Datasets

In [ ]:
# Mount Google Drive
drive.mount('/content/drive', force_remount=True)

# Define the base path and data path
base_path = '/content/drive/Shared drives/Deloitte'
data_path = base_path + '/Cleaned Data'

#Upload first dataset: customer_info_cleaned
customer_info_cleaned = pd.read_csv(data_path + '/customer_info_cleaned.csv')
customer_info_cleaned.head()

output_dir = '/content/drive/Shared drives/Deloitte/Cleaned Data'

Mounted at /content/drive

In [ ]:
#Upload second dataset: customer_economics_cleaned
customer_economics_cleaned = pd.read_csv(data_path + '/customer_economics_cleaned.csv')
customer_economics_cleaned.head()

   rating  number_of_reviews   id  sales_amount  number_of_employees
0   3.101               58.0  1.0  29759.508604                 33.0
1   4.140               13.0  2.0  38363.039529                 29.0
2   3.916               22.0  3.0  26352.777120                 36.0
3   3.803               33.0  4.0  27910.264616                 26.0
4   3.958               47.0  5.0  33478.441029                 31.0

### JOIN customer_info_cleaned & customer_economics_cleaned

In [ ]:
#To join the dataset we need to remove non-printable characters
#We use an inner join on ID to only match ID's that occur in both datasets

non_printable1 = "info_eco_merged = pd.merge(customer_info_cleaned, customer_economics_cleaned, on='id', how='inner')"

cleaned_line1 = re.sub(r'[^\x00-\x7F]+', ' ', non_printable1)

In [ ]:
info_eco_merged = pd.merge(customer_info_cleaned, customer_economics_cleaned, on='id', how='inner')

In [ ]:
info_eco_merged

,distance,city,store_size,free_wifi,parking,latitude,longitude,date_opening,id,sales_representative_latitude,...,sales_representative_id,store_size_category,opening_hour,closing_hour,customer_category,distance_rep_cust_km,rating,number_of_reviews,sales_amount,number_of_employees
0,31.681670,A Coruña,122.1635,True,False,43.351256,-8.410301,2020-02-17,2.0,43.362927,...,22,0,23:00,06:00,Bar/Pub,1.45,4.140,13.0,38363.039529,29.0
1,29.656813,Bilbao,71.1614,True,True,43.255756,-2.939133,2019-04-15,3.0,43.262941,...,10,0,13:00,01:00,Restaurant,0.84,3.916,22.0,26352.777120,36.0
2,31.277988,Alicante,75.7135,True,False,38.354208,-0.505718,2019-04-17,4.0,38.300530,...,15,0,11:00,23:00,Restaurant,10.48,3.803,33.0,27910.264616,26.0
3,38.071841,Madrid,215.2493,True,True,40.463496,-3.635538,2019-04-05,5.0,40.453918,...,29,1,06:00,23:00,Hotel,1.94,3.958,47.0,33478.441029,31.0
4,38.649910,Caceres,252.1306,False,False,39.472037,-6.371697,2018-06-15,6.0,39.474834,...,8,1,06:00,23:00,Hotel,0.77,4.932,46.0,33487.927742,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9629,35.362156,Madrid,45.0565,False,True,40.399515,-3.696936,2018-09-01,9994.0,40.403571,...,23,0,13:00,01:00,Restaurant,0.45,4.966,60.0,30884.234842,1.0
9630,33.621825,Madrid,287.1539,True,False,40.398334,-3.697031,2018-10-06,9995.0,40.403571,...,23,1,06:00,23:00,Hotel,0.58,3.730,92.0,35455.681692,28.0
9631,35.763547,Bilbao,355.0638,True,False,43.243966,-2.896762,2018-12-06,9996.0,43.245405,...,5,2,00:00,00:00,Hotel,1.10,4.485,37.0,32715.667729,32.0
9632,25.767590,Barcelona,377.1740,True,False,41.416983,2.197787,2020-07-03,9997.0,41.426438,...,3,2,09:00,21:00,Hotel,2.05,4.043,22.0,31840.805761,33.0
9633,36.160989,Alicante,34.7446,True,True,38.391301,-0.479109,2019-08-16,9999.0,38.373219,...,16,0,11:00,23:00,Restaurant,2.07,4.092,24.0,27336.162153,31.0

In [ ]:
print(customer_info_cleaned.shape)
print(customer_economics_cleaned.shape)
print(info_eco_merged.shape)

(9651, 17)
(9643, 5)
(9634, 21)

### Save the merge of customer_info_cleaned and customer_economics_cleaned

In [ ]:
info_eco_merged.to_csv(output_dir + "/info_eco_merged.csv", index=False)

## Merge info_eco_merged with socio_cleaned

In [ ]:
#Upload merged dataset: info_eco_merged

info_eco_merged = pd.read_csv(data_path + '/info_eco_merged.csv')

info_eco_merged.head()

In [ ]:
#Upload third dataset: socio_cleaned

socio_cleaned = pd.read_csv(data_path + '/socio_cleaned.csv')

socio_cleaned.head()

In [ ]:
#To join the dataset we need to remove non-printable characters
#We use a left join on City to match all the cities on the info_eco_merged dataset

non_printable2 = "info_eco_socio_merged = pd.merge(info_eco_merged, socio_cleaned, on='city', how='left')"

cleaned_line2 = re.sub(r'[^\x00-\x7F]+', ' ', non_printable2)

In [ ]:
info_eco_socio_merged = pd.merge(info_eco_merged, socio_cleaned, on='city', how='left')

In [ ]:
info_eco_socio_merged.head()

In [ ]:
print(info_eco_merged.shape)
print(socio_cleaned.shape)
print(info_eco_socio_merged.shape)

## Cleaning merged dataset

#### Sales amount

In [ ]:
info_eco_socio_merged.sort_values(by='sales_amount', ascending=False)
#looking at the further details of ID = 3658 and ID = 5773 such as date_opening, store_size and number_of_employees, it looks
# impossible to have that huge sales_amount so we would delete so we consider them huge outliers and will delete these

In [ ]:
info_eco_socio_merged.drop(info_eco_socio_merged[info_eco_socio_merged['id'] == 3659].index, inplace=True)
info_eco_socio_merged.drop(info_eco_socio_merged[info_eco_socio_merged['id'] == 5773].index, inplace=True)

#### Number of employees

In [ ]:
info_eco_socio_merged.sort_values(by='number_of_employees', ascending=True)
#2 stores have number_of_employees as zero
#1 store has 1 employee, considering this an outlier as the other stores have number_of_employees between 20 and 42
#Assuming this is wrong we put the average of the number_of_employees based on their store size
#NA if number_of_employees = 0 or 1

In [ ]:
info_eco_socio_merged['number_of_employees'] = info_eco_socio_merged['number_of_employees'].replace(0, np.nan)
info_eco_socio_merged['number_of_employees'] = info_eco_socio_merged['number_of_employees'].replace(1, np.nan)

In [ ]:
info_eco_socio_merged[info_eco_socio_merged['number_of_employees'].isna()]

In [ ]:
#Fill the NA's with the average number_of_employees grouped by store_size_category

avg_employees_by_category = info_eco_socio_merged.groupby('store_size_category')['number_of_employees'].mean()

def fill_na_with_avg_employees(row):
    if pd.isna(row['number_of_employees']):
        return avg_employees_by_category[row['store_size_category']]
    else:
        return row['number_of_employees']

info_eco_socio_merged['number_of_employees'] = info_eco_socio_merged.apply(fill_na_with_avg_employees, axis=1)

avg_employees_by_category

## Creating extra features for EDA

#### Days active

To have a consistent reference point for our analysis, we considered the end of 2023 to calculate the days active of each customer.

In [ ]:
info_eco_socio_merged['date_opening'] = pd.to_datetime(info_eco_socio_merged['date_opening'])
current_date = pd.to_datetime('31/12/2023', format='%d/%m/%Y') #Set the reference date to the end of 2023
info_eco_socio_merged['days_active'] = (current_date - info_eco_socio_merged['date_opening']).dt.days

info_eco_socio_merged.head()

In [ ]:
info_eco_socio_merged.dtypes

#### Open duration hours

In [ ]:
info_eco_socio_merged['opening_hour'] = pd.to_datetime(info_eco_socio_merged['opening_hour'], format='%H:%M').dt.time
info_eco_socio_merged['closing_hour'] = pd.to_datetime(info_eco_socio_merged['closing_hour'], format='%H:%M').dt.time

In [ ]:
 #Calculate the amount of hours a store is open each day by subtracting the opening hour from the closing hour, taking into account that some stores may operate past midnight
def calculate_open_duration(row):
    opening = datetime.combine(datetime.min, row['opening_hour'])
    closing = datetime.combine(datetime.min, row['closing_hour'])

    # Handle overnight times
    if closing <= opening:
        closing += timedelta(days=1)

    return (closing - opening).total_seconds() / 3600

info_eco_socio_merged['open_duration_hours'] = info_eco_socio_merged.apply(calculate_open_duration, axis=1)
info_eco_socio_merged

In [ ]:
info_eco_socio_merged['opening_hour'] = pd.to_datetime(info_eco_socio_merged['opening_hour'], format='%H:%M:%S').dt.hour
info_eco_socio_merged['closing_hour'] = pd.to_datetime(info_eco_socio_merged['closing_hour'], format='%H:%M:%S').dt.hour

## Types checking

In [ ]:
info_eco_socio_merged.dtypes

In [ ]:
info_eco_socio_merged['id'] = info_eco_socio_merged['id'].astype(str)
info_eco_socio_merged['sales_representative_id'] = info_eco_socio_merged['sales_representative_id'].astype(str)

In [ ]:
#Tableau version for visualisation in maps
info_eco_socio_merged.to_csv(output_dir + "/merged_cleaned_tableau.csv", index=False)

### Save the merge of info_eco_merged and socio_cleaned

In [ ]:
eda_cleaned = info_eco_socio_merged

In [ ]:
eda_cleaned.isna().sum()

In [ ]:
eda_cleaned.to_csv(output_dir + "/merged_cleaned.csv", index=False)